{% comment %} <body style="background-image:url({% static 'assets/img/hero-carousel/2.jpg' %})">
    <form action="/ADMIN/fileupload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
    <td><label> Item name </label></td>
    <td><input type="text" name="itemname"></td>
            </tr>
            <tr>
    <td><label> Item price</label></td>
    <td><input type="text" name="itemprice"></td>
            </tr>
            <tr>
    <td><label> Item Decription</label></td>
    <td><textarea  name="itemdecription"></textarea></td>
            </tr>
            <tr>
    <td><label> Item Image</label></td>
    <td><input type="file" name="picture"></td>
            </tr>
    <span style="color:yellow"> {{success}} </span>
    <tr>
        <td></td>
    <td><button type="submit">Submit</button></td>
    </tr>
        </table>
</form>
</body>



// {% endcomment %}



{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Website title - bootstrap html template</title>

<link rel="shortcut icon" type="image/x-icon" href="{% static 'new/images/favicon.ico' %}">

<!-- jQuery -->
<script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="{% static 'new/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{% static 'new/css/ui.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'new/css/responsive.css' %}" rel="stylesheet" />

<!-- custom javascript -->
<script src="js/script.js" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>

</head>
<body>

  
<section class="section-content padding-y">
  <div class="container">
  
  <div class="row">
      <main class="col-md-9">
  <div class="card">
  
  <table class="table table-borderless table-shopping-cart">
  <thead class="text-muted">
  <tr class="small text-uppercase">
    <th scope="col">Product</th>
    <th scope="col" width="120">Quantity</th>
    <th scope="col" width="120">Price</th>
    <th scope="col" class="text-right" width="200"> </th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <td>
          <figure class="itemside">
              <div class="aside"><img src="images/items/1.jpg" class="img-sm"></div>
              <figcaption class="info">
                  <a href="#" class="title text-dark">Some name of item goes here nice</a>
                  <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
              </figcaption>
          </figure>
      </td>
      <td> 
          <select class="form-control">
              <option>1</option>
              <option>2</option>	
              <option>3</option>	
              <option>4</option>	
          </select> 
      </td>
      <td> 
          <div class="price-wrap"> 
              <var class="price">$1156.00</var> 
              <small class="text-muted"> $315.20 each </small> 
          </div> <!-- price-wrap .// -->
      </td>
      <td class="text-right"> 
      <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
      <a href="" class="btn btn-light"> Remove</a>
      </td>
  </tr>
  <tr>
      <td>
          <figure class="itemside">
              <div class="aside"><img src="images/items/2.jpg" class="img-sm"></div>
              <figcaption class="info">
                  <a href="#" class="title text-dark">Product name  goes here nice</a>
                  <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
              </figcaption>
          </figure>
      </td>
      <td> 
          <select class="form-control">
              <option>1</option>
              <option>2</option>	
              <option>3</option>	
              <option>4</option>	
          </select> 
      </td>
      <td> 
          <div class="price-wrap"> 
              <var class="price">$149.97</var> 
              <small class="text-muted"> $75.00 each </small>  
          </div> <!-- price-wrap .// -->
      </td>
      <td class="text-right"> 
      <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
      <a href="" class="btn btn-light btn-round"> Remove</a>
      </td>
  </tr>
  <tr>
      <td>
          <figure class="itemside">
              <div class="aside"><img src="images/items/3.jpg" class="img-sm"></div>
              <figcaption class="info">
                  <a href="#" class="title text-dark">Another name of some product goes just here as a demo text </a>
                  <p class="small text-muted">Size: XL, Color: blue,  Brand: Tissot</p>
              </figcaption>
          </figure>
      </td>
      <td> 
          <select class="form-control">
              <option>1</option>
              <option>2</option>	
              <option>3</option>	
          </select> 
      </td>
      <td> 
          <div class="price-wrap"> 
              <var class="price">$98.00</var> 
              <small class="text-muted"> $578.00 each</small> 
          </div> <!-- price-wrap .// -->
      </td>
      <td class="text-right"> 
          <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
          <a href="" class="btn btn-light btn-round"> Remove</a>
      </td>
  </tr>
  </tbody>
  </table>
  
  <div class="card-body border-top">
      <a href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
      <a href="#" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
  </div>	
  </div> <!-- card.// -->
  
  <div class="alert alert-success mt-3">
      <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
  </div>
  
      </main> <!-- col.// -->
      <aside class="col-md-3">
          <div class="card mb-3">
              <div class="card-body">
              <form>
                  <div class="form-group">
                      <label>Have coupon?</label>
                      <div class="input-group">
                          <input type="text" class="form-control" name="" placeholder="Coupon code">
                          <span class="input-group-append"> 
                              <button class="btn btn-primary">Apply</button>
                          </span>
                      </div>
                  </div>
              </form>
              </div> <!-- card-body.// -->
          </div>  <!-- card .// -->
          <div class="card">
              <div class="card-body">
                      <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right">USD 568</dd>
                      </dl>
                      <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-right">USD 658</dd>
                      </dl>
                      <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right  h5"><strong>$1,650</strong></dd>
                      </dl>
                      <hr>
                      <p class="text-center mb-3">
                          <img src="images/misc/payments.png" height="26">
                      </p>
                      
              </div> <!-- card-body.// -->
          </div>  <!-- card .// -->
      </aside> <!-- col.// -->
  </div>
  
  </div> <!-- container .//  -->
  </section>




	




		
</body>
</html>